
.LifeContainer {
  margin: 40px;
  display: flex;
  justify-content: flex-start;
}

.LifeHeader {
  align-items: flex-end;
  min-width: 140px;
  margin-bottom: 20px;
}

.GenCount {
  font-size: 500%;
  flex-grow: 1;
  font-weight: bold;
  color: #0a8;
}

.SimControls {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 150%;
}

.SimControls div {
  margin-bottom: 5px;
}

.ResizeControls input {
  font-size: 150%;
}

.ResizeControls label {
  font-size: 100%;
}

.ResizeControls div {
  margin-bottom: 10px;
}



